/* formats the area taken by clicking the browser icon*/
#status {
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 400px;
}

/*formats the textField for user input*/
#textField{
	font-family: "Myriad Pro", "Arial", sans-serif;
    font-size: 100%;
    padding-bottom: 5px;
}

/*formats the submit button*/
#submitButton {
	top: 10px;
	left: 10px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	width: 80px ;
	height: 25px ; 
	background-color: #f2f2f2;
	font-size: 13px;
	font-weight: bold;
	font-family: arial,sans-serif
}

/*adjusts spacing between button and text field*/
#buttonDiv {
	padding-top: 8px;
}

/*adjusts spacing between "New Tab Name:" and the text field*/
#textFieldDiv {
	padding-top: 8px;
}